@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
	transition:  0.3s !important;
}

#hero {
	background-image: url('./assets/herobg.png') !important;
	background-size:cover !important;
	overflow: visible !important; 
	z-index: 100 !important;
}
body, #root {
	overflow-x:  hidden !important;
}
.menu-icon {
  opacity: 1;
  transition: opacity 0.2s ease-in-out; /* Smooth transition for opacity */
}


* {
		font-family: "Poppins", sans-serif;
}

#hi {
    overflow: visible !important; 
}


.move {
	transition: all 1s ease;
	transform: translateY(-100%);
	opacity: 0;
}

.item-container {
	transition: 0.4s;
}



.Link:after {
	content: '' !important;
	position: absolute !important;
	background-color: #925eff   !important;
	height: 3px !important;
	width: 0 !important;
	left: 0;
	bottom: -7px;
	transition: 0.3s !important;
}

.Link:hover:after {
	width: 100% !important;
}

.btn {
    background: linear-gradient(to right, #925eff, #310f73);
    transition: 0.4s;
      background-size: 130% 100%;
      background-position: 100% 0;

}

.btn:hover {
  background-position: 0 0;
    box-shadow: 0 0 30px #5c38a6 !important;
}

.stripe {
    background: linear-gradient(to bottom, #925eff, rgba(0, 0, 0, 0));
}

.heroH{
	font-weight: 900;
	word-spacing: 1px;
	font-size: 3.3em;
}

#special {
	color: #925eff
}

/* laptops (1024px) */
@media (max-width: 1024px) {
	nav {
		font-size: 0.9em;
		padding-left: 5em !important;
		padding-right: 5em !important;
	}
	.text-stuff {
		padding: 0 10em !important;
		font-size:  0.9em !important;
		margin-top: 2em;
	}
}

/* tablets */
@media (max-width: 768px) {
	.text {
		font-size: 0.8em !important;
	}
	.big-p{
		width: 400px;
	}
	.main-t {
		font-size: 3.3em !important;
	}
	.skills {
		font-size: 0.9em;
	}
	.ball {
		width: 17px;
		height: 17px;
	}
	.stripe {
		height: 50%;
	}
	nav {
		font-size: 0.9em;
		padding-left: 3em !important;
		padding-right: 3em !important;
	}
	.text-stuff {
		padding: 0 5em !important;
		font-size:  0.8em !important;
		margin-top: 4em;
	}
}

.social {
			color: #D5D5D5;
}

.social:hover {
			color: #fff;
}

/* Hamburger */
@media (max-width: 660px) {
.container-skills {
	padding:  6em 3em !important;
}
.skills {
	scale: 0.9;
	position: relative !important;
	left: -1em !important;
}
.percent{
	width: 100%;
}
	.social {
		font-size:  20px;
	}
	.text-stuff {
		padding: 0 6em !important;
		font-size: 0.7em !important;
    margin-top: 5em;
	}
	nav .links-con {
		display: none !important;
	}
	.menu-icon {
		display: block !important;
	}
}

/* Mobile L */
@media (max-width: 440px) {
	  .skills .display-skills {
	  	width: 110% !important;
	  }
	  .container-skills {
	padding:  6em 2.4em !important;
	  }
	  .big-p {
	  	width: 96%;
	  }
		.text-stuff {
		  padding-left: 1em !important;
		  padding-right: 1em !important;
		}
		.para {
			font-size:  1.5em !important;
		}
		.logo {
			width: 13em !important;
		}
		nav {
			padding-left: 2em !important;
			padding-right: 2em !important;
		}
		 .selector {
 	width: 110% !important;
 }
}

/* mobile - M */

@media (max-width: 375px) {
	.skills {
		scale: 0.86;
	}
			 .selector {
 	width: 110% !important;
 } 
 	  .skills .display-skills {
	  	width: 110% !important;
	  }
}